/*Selectores*/
/*1.- Etiquetas*/
/*2.- Identificadores*/
/*3.- Clases*/
body /*selector - etiqueta*/
{
	/*atribuo:valor;*/
	max-width: 1024px;
	border:1px solid blue;
	border-radius: 5px;
	margin: 0 auto;
}

header
{
	border:1px solid red;
	background: blue; /*Fondo*/
	color: white; /*Letras*/
	text-align: center; /*Alineacion de texto*/
	padding: 0px 0px 10px 0px;
}

header img
{
	width: 100px;
	float:right;
	margin: -50px 30px 50px -30px;
}

header nav ul li
{
	/*border: 1px solid yellow;*/
	background: white; /*Color de fondo*/
	display: inline-block; /*Desplegado que rompe el modelo de caja*/
	color: tomato; /*Color de texto*/
	border-radius: 5px;
	box-shadow: 2px 2px;
	width: 80px; /*Ancho del boton*/
	/*padding: (global)|(vertical horizontal)|(arriba derecha abajo izquierda);*/
	padding: 5px 10px; /*Agrando los botones*/
	/*margin: (global)|(vertical horizontal)|(arriba derecha abajo izquierda);*/
	margin: 0px 10px; /*Separo las cajas*/
}

header nav ul li:hover
{
	background: black;
	color: white;
}

